<div *ngIf="noticia!==null">
    <div class="row m-5">
        <div class="jumbotron">
            <h1 class="display-4">{{noticia.titulo}}</h1>
            <img [src]="noticia.imagen" class="img-thumbnail" style="width: 40%;" alt="...">
            <p class="lead">{{noticia.contenido}}</p>
            <hr class="my-4">

            <p>{{noticia.nombreCategoria}}</p>
            <br>
            <p>{{fecha(noticia.fechaPublicacion)}}</p>
            <a class="btn btn-primary btn-lg" href="/home" role="button">Atras</a>
          </div>

    </div>

</div>