<mat-sidenav-container style="height: 100vh" [hasBackdrop]="true">
    <mat-sidenav #drawer class="sidenav orangeDark" mode="side">
        <div class="container">
            <div class="row">
                <mat-list>
                    <mat-list-item (click)="cambioVentana('inicio')">Inicio</mat-list-item>
                    <mat-list-item (click)="cambioVentana('categorias')">Categorias</mat-list-item>
                </mat-list>
                <mat-list>
                    <a mat-list-item class="btn btn-danger" routerLink="/login" (click)="logout()">Cerrar Sesion</a>
                </mat-list>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="orange">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Noticias bancafe</span>
            <span class="spacer"></span>

        </mat-toolbar>
        <div *ngIf="ventana == 'categorias'">
            <div class="row m-5">
                <h1>Categorias</h1>
                <ul class="list-group">
                    <li *ngFor="let categoria of categorias">
                        <a href="">{{ categoria.nombre }}</a>
                      </li>

                    <li class="list-group-item"><a href="1">Cras justo odio</a></li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

        </div>
        <div *ngIf="ventana == 'inicio'">

        </div>
        <div *ngIf="ventana == 'inventarioprov'">

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>